.wrapperSkill {
    padding:10px;
    margin: 3px;
    width: 32.33333%;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #fafafa;
    border-radius: 15px;
    transition: background 0.5s ease;
}

.wrapperSkill:hover {
    background-color: #292939;

}
@media screen and (max-width: 1025px) {
    .wrapperSkill {
        width: 50%;
    }
}
@media only screen and (max-width : 800px)  {
    .wrapperSkill {
        width: 50%;
    }
}
@media only screen and (max-width : 768px)  {
    .wrapperSkill {
        width: 50%;
    }
}
@media only screen and (max-width : 533px)  {
    .wrapperSkill {
        width: 100%;
    }
}
@media screen and (max-width: 375px) {
    .wrapperSkill {
        width: 100%;
    }
}
.icon {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
}

.titleH3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
    transition: .3s;
    color: #fafafa;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
}

.wrapperText {
    margin: 0;
    line-height: 32px;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}