.content {
    border-right: 1px solid currentColor;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /*z-index: 1500;*/
    /*background: var(--bgr);*/
    cursor: pointer;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, var(--bgr) 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(3px);
}

.menuBurger {
    width: 50%;
    height: 2px;
    display: block;
    background-color: currentColor;
    position: relative;

    transition:
            background-color 0.1s ease-in-out;
}

.menuBurger:after, .menuBurger:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    display: block;
    transition:
            top 0.3s ease-in-out 0.1s,
            bottom 0.3s ease-in-out 0.1s,
            transform 0.3s ease-in-out 0.1s;
}

.menuBurger:after {
    top: 6px;
    z-index: 10;
    background-color: currentColor;
}

.menuBurger:before {
    bottom: 6px;
    z-index: 10;
    background-color: currentColor;
}

.menuBurger[data-active="true"] {
    background-color: var(--bgr);
}

.menuBurger[data-active="true"]:after {
    /*background-color: red;*/
    top: 0;
    transform: rotate(-45deg);
}
.menuBurger[data-active="true"]:before {
    /*background-color: red;*/
    bottom: 0;
    transform: rotate(45deg);
}


