.container {
    padding: 0 0 0 50px;
}

.titleBox {
    border-bottom: 1px solid var(--color);
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    display: flex;
    align-items: center;
}

.iconBox {
    margin: 0 15px;
}

.content {
    display: flex;
    padding: 24px 0 24px 0;

}

.wrapper {
    /*perspective: 100vw;*/
}

.text {
    text-wrap: balance;
    font-size: 1.5vw;
    font-weight: 500;
    /*transform-origin: right center;*/
    /*transform: rotateY(-45deg) translateZ(0);*/
}
