.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (width <= 767px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.item {
    border-right: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition:
            color 0.45s ease-in-out,
            background-color 0.45s ease-in-out;

    @media (width <= 767px) {
        padding: 5px 15px;
        font-size: 15px;
    }
}

.active {
    color: var(--bgr);
    background-color: var(--color);
}
