.perspective {
    position: relative;
    width: 100%;
    padding: 0 0 0 50px;
}

.projects {
    position: relative;
    margin: 0;
    padding-left: 0;
    list-style: none;
    line-height: 1;
    display: flex;
    flex-direction: column;
}

.linkProject {
    cursor: pointer;

}

.content {
    color: var(--color);
    padding: 15px 0 15px 25px;

}

.linkText {
    position: relative;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;

    text-wrap: balance;
    transition:
            transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
            opacity 0.3s ease-in-out,
            color 0.2s ease-in-out;


    @supports (-webkit-text-stroke: 2px var(--color)) {
        -webkit-text-stroke: 2px var(--color);
        paint-order: stroke fill;
    }

    /*&:after {*/
    /*    content: '';*/
    /*    position: absolute;*/
    /*    top: 0.23em;*/
    /*    left: -0.3em;*/
    /*    width: 2px;*/
    /*    height: 0.85em;*/
    /*    background-color: var(--color);*/
    /*    !*transform: rotate(25deg);*!*/
    /*    pointer-events: none;*/
    /*}*/
    /*&:before {*/
    /*    content: attr(data-info);*/
    /*    white-space: pre;*/
    /*    position: absolute;*/
    /*    top: 3.7em;*/
    /*    left: -250px;*/
    /*    width: 200px;*/
    /*    text-align: right;*/
    /*    font-size: 15px;*/
    /*    font-weight: 400;*/
    /*    letter-spacing: 0;*/
    /*    line-height: 1em;*/
    /*    color: var(--color) !important;*/
    /*    pointer-events: none;*/
    /*    transition: none;*/
    /*}*/
}

.linkProject:hover .content {
    /*transform: rotateY(-15deg);*/
    /*background-size:  100% 100%;*/
}

.active .content {
    /*transform: rotateY(0deg)!important;*/
}

.withActive .linkProject:not(.active) .content .linkText {
    opacity: 0.3;
}

.linkProject:hover .content .linkText {
    color: transparent;
}
