.container {
    padding: 0 0 0 50px;
    width: 100%;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    /*background-color: var(--bgr);*/
    color: var(--color);
    z-index: 1500;
    height: 100%;
}

.modeGoBack {
    transform: translateY(0);
}
