.mainBlock {
    background-color: #018a84;
}

.skillsContainer {
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid red;
    flex-wrap: wrap;
}

.h2Style {
    border: 1px solid red;
}

.skillsBlock {
    border: 1px solid red;
}

.wrapperSkillBlock {
    padding: 5px;
    width: 100%;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
