.mainBlock {
    background-color: #018a84;
}

.skillsContainer {
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid red;
    flex-wrap: wrap;
}

.h2Style {
    border: 1px solid red;
}

.skillsBlock {
    border: 1px solid red;
}

.wrapperSkillBlock {
    padding: 5px;
    max-width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .wrapperSkillBlock {

    }
}

@media screen and (max-width: 460px) {
    .wrapperSkillBlock {

    }
}


