.wrapperContact {
    padding: 70px 0;
    display: flex;
    justify-content: space-around;
    background: #fafafa;
}

.container {
    width: 80%;

    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    margin: 0 auto;
}

textarea {
    min-height: 150px;
    width: 60%;
    font-size: 18px;
    background-color: #F7F7F7;
    margin-bottom: 25px;
}
input[type=text], input[type=email], input[type=tel] {
    display: block;
    border: 0;
    width: 60%;
    height: 45px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #F7F7F7;
    background-image: none;
    margin-bottom: 25px;
}

input[type=submit] {
    display: inline-block;
    border-radius: 15px;
    color: #211a08;
    padding: 15px 25px;
    border: 1px solid #333;
    font-size: 14px;
    font-weight: 300;
    transition: .3s;
    background: #fafafa;
    text-transform: capitalize;
}


