.header {
    height: 80px;
    padding:  0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.4s ease-out;
}
