.container {
    padding: 150px 50px 0 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    perspective: 100vw;
}

.nextTitle {
    font-size: 32px;
}

.link {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 9vw;
    letter-spacing: .02em;
    line-height: .9em;
    transition: color .2s ease-in-out, transform .5s;
    transform: rotateY(-45deg) translateZ(0);
    transform-origin: right center;
    cursor: pointer;
    @media (hover: hover) {
        @supports (-webkit-text-stroke: 2px var(--color-secondary)) {
            -webkit-text-stroke: 2px var(--color-secondary);
        }
    }
}

.container .link:hover {
    transform: rotateY(0deg);
    color: transparent;
}
