.container {
    padding: 150px 50px 0 75px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*align-items: flex-end;*/
    border-top: 1px solid var(--color);
}

.nextTitle {
    font-size: 15px;
}

.link {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: .02em;
    line-height: .9em;
    transition: color .2s ease-in-out;
    cursor: pointer;
    @media (hover: hover) {
        @supports (-webkit-text-stroke: 2px var(--color-secondary)) {
            -webkit-text-stroke: 2px var(--color-secondary);
        }
    }
    @media (width <= 767px) {
        font-size: 50px;
    }
}

.container .link:hover {
    color: transparent;
}
