.btn {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bgr);
    color: var(--color-inver);
    /*border-bottom: 1px solid currentColor;*/
    /*border-right: 1px solid currentColor;*/
    cursor: pointer;
    z-index: 10;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid currentColor;
    border-right: 1px solid currentColor;
    width: 50px;
    height: 50px;
}

.backContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 50px);
    height: 50px;
    color: var(--color);
    border-bottom: 1px solid currentColor;
    overflow: hidden;

    background-image: radial-gradient(
            rgba(0, 0, 0, 0) 1px,
            var(--bgr) 1px
    );
    background-size: 4px 4px;
    backdrop-filter: blur(3px);

    transition: transform .2s ease-in-out;
    transform: translateY(-80%);
}

.back {
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    @media (hover: hover) {
        &:hover {
            .backContainer {
                transform: translateY(0);
            }

        }
    }
}
