.container {
    padding: 50px 100px 250px 100px;
    display: flex;
    flex-direction: column;
    gap: 48px
}

.educTitle {
    font-size: 56px;
    position: relative;
    text-transform: uppercase;
    width: fit-content;

    &:after {
        content: '';
        position: absolute;
        right: -0.3em;
        width: 2px;
        height: 83%;
        background-color: currentColor;
        transform: rotate(25deg);
    }

    &:before {
        content: attr(data-range);
        position: absolute;
        right: 0%;
        top: 0;
        /*text-align: right;*/
        font-size: 0.7vw;
        font-weight: 500;
    }
}


.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 100px;
    align-items: center;
}

.skillTitle {
    font-size: 56px;
    position: relative;
    text-transform: uppercase;
    width: fit-content;
}

.skillList {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.skill {
    width: fit-content;
}
